<a href="https://colab.research.google.com/github/kuldeep1A/J5-Analysis-22/blob/main/College%20Major/Data_exploration_with_Pandas_College_Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration with Pandas College Major

In [ ]:
import pandas as pd

df = pd.read_csv("salaries_by_college_major.csv")

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

#Preliminary Data Exploration and Data Cleaning with Pandas

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

In [ ]:
df.tail()

In [ ]:
clean_df = df.dropna()

#Accessing Columns and Individual Cell in a Dataframe

Find College Major with Highest Starting Salaries

In [ ]:
clean_df['Starting Median Salary'] #See all the values

In [ ]:
clean_df['Starting Median Salary'].max() # See the highest starting salary

74300.0

In [ ]:
clean_df['Starting Median Salary'].idxmax() # See the index number of highest starting salary row

43

In [ ]:
clean_df['Undergraduate Major'].loc[43] # See the cell name # clean_df['Undergraduate Major'][43] are same

'Physician Assistant'

In [ ]:
clean_df.loc[43] # Retrieve an entire row

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

#Challenge
1. What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [ ]:
clean_df['Mid-Career 10th Percentile Salary'].max()

71900.0

In [ ]:
clean_df['Mid-Career 10th Percentile Salary'].idxmax()

8

In [ ]:
clean_df['Undergraduate Major'].loc[8]

'Chemical Engineering'

In [ ]:
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

2. Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
clean_df['Starting Median Salary'].min()

34000.0

In [ ]:
clean_df['Starting Median Salary'].idxmin()

49

In [ ]:
clean_df['Undergraduate Major'].loc[49]

'Spanish'

In [ ]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

3. Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
clean_df['Mid-Career Median Salary'].min()

52000.0

In [ ]:
clean_df['Mid-Career Median Salary'].idxmin()

18

In [ ]:
clean_df['Undergraduate Major'].loc[18]

'Education'

In [ ]:
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

# Sorting Values & Adding Columns:
# Majors with the Most Potential vs Lowest Risk

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

In [ ]:
#spread_col.head()

In [ ]:
clean_df.insert(1, 'Spread', spread_col) # Add our exiting dataframe

In [ ]:
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

Sorting by the Lowest Spread

In [ ]:
low_risk = clean_df.sort_values('Spread')

In [ ]:
low_risk.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business

In [ ]:
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread  Starting Median Salary
40                     Nursing  50700.0                 54200.0
43         Physician Assistant  57600.0                 74300.0
41                   Nutrition  65300.0                 39900.0
49                     Spanish  65400.0                 34000.0
27  Health Care Administration  66400.0                 38800.0

# Challenge

1. Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.

In [ ]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [ ]:
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

2. find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [ ]:
Highest_spread = clean_df.sort_values('Spread', ascending=False)

In [ ]:
Highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [ ]:
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)

In [ ]:
highest_spread[['Undergraduate Major', 'Mid-Career Median Salary']].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

#Grouping and Pivoting Data with Pandas

In [ ]:
clean_df.groupby('Group').count() # count How many majors we have in each category

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [ ]:
clean_df.groupby('Group').mean() # the average salary by group

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000

Number formats in the Output

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"